.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

.home-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/workspaces/Learnt/learnt-front-end/public/library.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 1;
}

.home-page > * {
  position: relative;
  z-index: 2;
}

.welcome-title {
  font-size: 4.5rem;
  margin-bottom: 20px;
  color: #333;
  margin-top: -100px;
  margin-bottom: 120px;
  opacity: 0; /* Start as invisible */
  transform: translateY(30px); /* Start slightly lower (increase from 20px to 30px) */
  transition: transform 1s ease, opacity 1s ease; /* Slow down the transition to 1 second */
}

.welcome-title.fade-in {
  opacity: 1; /* Fade in effect */
  transform: translateY(0); /* Move to original position */
}

.sign-in-button {
  background-color: #5d9fd3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.sign-in-button:hover {
  background-color: #5d9fd3;
}