.submission-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 10px;
  display: flex;
margin: 0;
padding: 10px;
display: flex;
gap: 30px;
justify-content: center;
}

h3 {
text-align: center;
font-size: 20px;
}

p {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.study-planner-wrapper, .study-guide-wrapper {
justify-content: center;
padding: 30px;
text-align: left;
flex: 1;
display: block;
max-width: 50%;
margin: 10px;
background-color: #f5f5f5;
border: 1px solid #ddd;
border-radius: 5px;
white-space: normal;
word-wrap: break-word;
overflow-wrap: break-word;
overflow-x: hidden; /* Hide horizontal overflow if any */
}

pre {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
font-size: 15px;
line-height: 1.5;
white-space: pre-wrap; /* Allows text in <pre> to wrap to the next line */
word-wrap: break-word; /* Ensures that long words wrap to the next line */
overflow-wrap: break-word; /* Prevents overflow of long words */
overflow-x: auto; /* Allows horizontal scrolling if there's long unbreakable text */
}
